.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-menu {
  border-top: solid 1px $gray;
}

.top-footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bottom-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

//Only for automatic tests
.footer-menu a {
  @include media("mobile") {
    width: 100%;
  }
}
