.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-menu {
  border-top: solid 1px $gray;
}

.top-footer {
  padding-top: 62px;
  padding-bottom: 72px;
}

.bottom-footer {
  padding-top: 40px;
  padding-bottom: 48px;
}