.background-main {
  background: no-repeat center/cover url("../images/banner.png");
}

.input-main {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 50px;
  margin-bottom: 1.5rem;
  border: solid 2px $dark-gray;
  border-radius: 3px;
  background-color: transparent;
  font: 400 14px/16px "Roboto", sans-serif;
  color: $white;
}