.news-image {
  grid-area: image;
  width: 100%;
}

.news-content {
  grid-area: content;
}

.news-author {
  vertical-align: middle;
}

.news-heading {
  @include media("medium") {
    margin-bottom: 16px;
  }
}
