.pricing-item {
  box-sizing: border-box;
  border-radius: 16px;
  padding: 24px;
  @include media("mobile") {
    padding-top: 16px;
  }
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pricing-value {
  font: 400 64px/1em "Roboto", sans-serif;
}

.pricing-curency {
  font: 400 32px/1.5 "Roboto", sans-serif;
}