.pricing-item {
  box-sizing: border-box;
  border-radius: 16px;
  padding: 24px;
  @include media("mobile") {
    padding-top: 16px;
  }
}

.btn-white {
  display: block;
  width: 100%;
  border-color: $white; 
}

.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pricing-value {
  font: 400 64px/1em "Roboto", sans-serif;
}

.pricing-curency {
  font: 400 32px/1.5 "Roboto", sans-serif;
}