.pricing-item {
  box-sizing: border-box;
  border-radius: 16px;
  padding: 24px;
  @include media("mobile") {
    padding-top: 16px;
  }
}

.btn-white {
  display: block;
  width: 100%;
  border-color: $white; 
}

.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

.pricing-value {
  width: max-content;
  font: 400 64px/1em "Roboto", sans-serif;
}

.pricing-value::after {
  position: relative;
  left: 16px;
  top: -21px;

  font: 400 32px/1em "Roboto", sans-serif;
  text-transform: uppercase;
  content: "руб.";
}