/* Fonts: */
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
/* Reset styles:*/
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(374px, 1fr));
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 50px;
  column-gap: 50px;
}

.grid-header {
  display: grid;
  width: 100%;
  grid-template-columns: 188px 1fr 268px;
  align-items: center;
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
  justify-content: space-between;
  grid-column-gap: 24px;
  column-gap: 24px;
}

.span-1 {
  grid-column: span 1;
}

.column-start-1 {
  grid-column-start: 1;
}

.column-end-1 {
  grid-column-end: 1;
}

.span-2 {
  grid-column: span 2;
}

.column-start-2 {
  grid-column-start: 2;
}

.column-end-2 {
  grid-column-end: 2;
}

.span-3 {
  grid-column: span 3;
}

.column-start-3 {
  grid-column-start: 3;
}

.column-end-3 {
  grid-column-end: 3;
}

.span-4 {
  grid-column: span 4;
}

.column-start-4 {
  grid-column-start: 4;
}

.column-end-4 {
  grid-column-end: 4;
}

.span-5 {
  grid-column: span 5;
}

.column-start-5 {
  grid-column-start: 5;
}

.column-end-5 {
  grid-column-end: 5;
}

.span-6 {
  grid-column: span 6;
}

.column-start-6 {
  grid-column-start: 6;
}

.column-end-6 {
  grid-column-end: 6;
}

.span-7 {
  grid-column: span 7;
}

.column-start-7 {
  grid-column-start: 7;
}

.column-end-7 {
  grid-column-end: 7;
}

.span-8 {
  grid-column: span 8;
}

.column-start-8 {
  grid-column-start: 8;
}

.column-end-8 {
  grid-column-end: 8;
}

.span-9 {
  grid-column: span 9;
}

.column-start-9 {
  grid-column-start: 9;
}

.column-end-9 {
  grid-column-end: 9;
}

.span-10 {
  grid-column: span 10;
}

.column-start-10 {
  grid-column-start: 10;
}

.column-end-10 {
  grid-column-end: 10;
}

.span-11 {
  grid-column: span 11;
}

.column-start-11 {
  grid-column-start: 11;
}

.column-end-11 {
  grid-column-end: 11;
}

.span-12 {
  grid-column: span 12;
}

.column-start-12 {
  grid-column-start: 12;
}

.column-end-12 {
  grid-column-end: 12;
}

body {
  position: relative;
  min-width: 320px;
  font: 400 18px/1.5 "Roboto", sans-serif;
  color: #cacaca;
  background: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  color: #ffffff;
}
@media screen and (max-width: 609px) {
  h1 {
    padding-top: 47px;
    font-size: 45px;
    line-height: 57px;
  }
}
@media screen and (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  color: #ffffff;
}
@media screen and (max-width: 609px) {
  h2 {
    font-size: 27px;
    line-height: 43px;
  }
}
@media screen and (max-width: 414px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
}

/* Atomic styles: */
.maxw-1200 {
  max-width: 1200px;
}

.maxw-1240 {
  max-width: 1240px;
}

.maxw-570 {
  max-width: 570px;
}

.px-20 {
  padding: 0 20px;
}

.py-20 {
  padding: 20px 0;
}

.py-21 {
  padding: 21px 0;
}

.py-200 {
  padding: 200px 0;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.mx-auto {
  margin: 0 auto;
}

.mx-20 {
  margin: 0 20px;
}

.my-auto {
  margin: auto 0;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-32-adaptive {
  margin-bottom: 32px;
}
@media screen and (max-width: 609px) {
  .mb-32-adaptive {
    margin-bottom: 16px;
  }
}

.w-100pr {
  width: 100%;
}

.header-position {
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gap-3 {
  row-gap: 3px;
}

.gap-17 {
  row-gap: 17px;
}

.justify-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.self-right {
  justify-self: right;
}

.capitalized {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.no-wrap {
  flex-wrap: nowrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.background-main {
  background: no-repeat center/cover url("../images/banner.png");
}

.content {
  margin: 0 auto;
}

.logo-link {
  min-width: 168px;
  text-decoration: none;
  color: #ffffff;
}

.logo {
  width: 24px;
}

.header-text {
  font-size: 11px;
  line-height: 13px;
}

.navigation {
  min-width: 340px;
}

@media screen and (max-width: 414px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  color: #e0e0e0;
}

.form-search {
  line-height: 15px;
  box-sizing: border-box;
  min-width: 248px;
}
@media screen and (max-width: 609px) {
  .form-search {
    width: 100%;
  }
}

.input-search {
  box-sizing: border-box;
  height: 25px;
  width: 100%;
  font: 400 13.3px/15px "Arial", sans-serif;
  color: #757575;
  border: none;
  border-radius: 12.5px;
  background-color: #3c3b3d;
}

.input-main {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 50px;
  margin-bottom: 1.5rem;
  border: solid 2px #cacaca;
  border-radius: 3px;
  background-color: transparent;
  font: 400 14px/16px "Roboto", sans-serif;
  color: #ffffff;
}

.btn {
  text-align: center;
  color: #ffffff;
  font: 400 13.3px/15px "Arial", sans-serif;
  border-radius: 5px;
}

@media screen and (max-width: 609px) {
  .btn-access {
    grid-column: span 1;
  }
}

.btn-green {
  background-color: #34c176;
}