// All mixins and global variables

$breakpoints: (
  breakpoint-mobile: 414px,
  breakpoint-small: 768px,
  breakpoint-medium: 992px,
  breakpoint-large: 1200px
);

@mixin media($breakpoint: "small", $breakpoint-width: null) {
  @if $breakpoint == "custom" {
    @media screen and (max-width: $breakpoint-width){
      @content;
    }
    } @else {
    @media screen and (max-width: map-get($breakpoints , "breakpoint-#{$breakpoint}")){
      @content;
    }
  }
}