body {
  position: relative;
  min-width: 320px;
  font: 400 18px/1.5 "#{$base-font-family}", sans-serif;
  color: $dark-gray;
  background: $black;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  @include media("small") {
    padding-top: 47px;
    font-size: 45px;
    line-height: 57px;
  }
  @include media("mobile") {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  @include media("small") {
    font-size: 27px;
    line-height: 43px;
  }
  @include media("mobile") {
    font-size: 18px;
    line-height: 27px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
}

/* Atomic styles: */
.maxw-1200 {
  max-width: 1200px;
}

.maxw-1240 {
  max-width: 1240px;
}


.maxw-570 {
  max-width: 570px;
}

.px-20 {
  padding: 0 20px;
}

.py-20 {
  padding: 20px 0;
}

.py-21 {
  padding: 21px 0;
}

.py-200 {
  padding: 200px 0;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.mx-auto {
  margin: 0 auto;
}

.mx-20 {
  margin: 0 20px;
}

.my-auto {
  margin: auto 0;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-32-adaptive {
  margin-bottom: 32px;
  @include media("small") {
    margin-bottom: 16px;
  }
}

.w-100pr {
  width: 100%;
}

.header-position {
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.gap-3{
  row-gap: 3px;
}

.gap-17{
  row-gap: 17px;
}

.justify-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.self-right {
  justify-self: right;
}

.capitalized {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.no-wrap {
  flex-wrap: nowrap;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
}
