body {
  position: relative;
  min-width: 320px;
  font: 400 16px/1.5 "#{$base-font-family}", sans-serif;
  color: $dark-gray;
  background: $black;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  @include media("small") {
    margin-top: 50px;
    font-size: 45px;
    line-height: 57px;
  }
  @include media("mobile") {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  @include media("small") {
    font-size: 27px;
    line-height: 43px;
  }
  @include media("mobile") {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-size: 24px;
  line-height: 36px;
  @include media("mobile") {
    font-size: 16px;
    line-height: 24px;
  }
}

.btn {
  box-sizing: border-box;
  padding: 20px 30px;
  text-align: center;
  color: $white;
  border-radius: 5px;
  text-decoration: none;

  &-green {
    background-color: $green;
    border: 1px solid $green;

    &:hover {
      background-color: $dark-green;
    }
  }

  &-access {
    @include media ("small") {
      grid-column: span 1;
    }
  }
  &-white {
    display: block;
    width: 100%;
    border: solid 1px $white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &-app {
    display: block;
    padding: 16px 40px;
    width: max-content;
    background-color: $orange;
    border: solid 1px $orange;
    border-radius: 32px;
  }

  &-news {
    display: inline-block;
    padding: 16px 30px;
    color: $dark-gray;
    border: solid 1px $dark-gray;

    &:hover {
      background-color: rgb(202, 202, 202, 0.2);
    }
  }
  
}


/* Atomic styles: */
.maxw-1200 {
  max-width: 1200px;
}

.maxw-1240 {
  max-width: 1240px;
}


.maxw-570 {
  max-width: 570px;
}

.maxw-600 {
  max-width: 600px;
}

.w-200 {
  width: 200px;
}

.w-19 {
  width: 19px
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-21 {
  padding: 21px 0;
}

.py-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-250 {
  padding-top: 250px;
}

.pb-200 {
  padding-bottom: 200px;
}

.mx-auto {
  margin: 0 auto;
}

.mx-20 {
  margin: 0 20px;
}

.my-auto {
  margin: auto 0;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-144 {
  margin-left: 144px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-123 {
  margin-right: 123px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-50-adaptive {
  margin-top: 50px;
  @include media("small") {
    margin-top: 25px;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-32-adaptive {
  margin-bottom: 32px;
  @include media("small") {
    margin-bottom: 16px;
  }
}

.w-100pr {
  width: 100%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.flex-row-adaptive {
  flex-direction: row;
  @include media ("mobile") {
    flex-direction: column;
    align-items: flex-start;
  }
}

.gap-16 {
  row-gap: 16px;
  column-gap: 16px;
}

.row-gap-3 {
  row-gap: 7px;
}

.row-gap-17 {
  row-gap: 17px;
}

.row-gap-16 {
  row-gap: 16px;
}

.row-gap-24 {
  row-gap: 24px;
}

.column-gap-24 {
  column-gap: 24px;
}

.justify-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.self-right {
  justify-self: right;
}

.capitalized {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.no-wrap {
  flex-wrap: nowrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
}

.d-block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-white {
  color: $white;
}

.text-orange {
  color: $orange;
}

.text-small {
  font-size: 12.8px;
  line-height: 1.5;
}

.text-size-16 {
  font-size: 16px;
  line-height: 1.5;
}

.text-size-24 {
  font-size: 24px;
}

.text-size-30-adaptive {
  font-size: 30px;
  line-height: 1.5;
  @include media("medium") {
    font-size: 24px;
  }
  @include media("small") {
    font-size: 16px;
  }
}

.text-size-32 {
  font-size: 32px;
}

.text-size-40 {
  font-size: 40px;
}

.text-size-48 {
  font-size: 48px;
}

.text-size-56 {
  font-size: 56px;
}

.text-size-64 {
  font-size: 64px;
}

.h-size-18 {
  font-size: 18px;
  line-height: 1.5;
} 

.max-content {
  width: max-content;
}

.border-box {
  box-sizing: border-box;
}

.h-24 {
  height: 24px;
}