// All grids
.grid-form {
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
  justify-content: space-between;
  column-gap: 24px;
}

.grid {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.grid-news {
  display: grid;
  grid-row-gap: 64px;
  grid-column-gap: 50px;
  grid-template-areas: "image content";
  grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
  justify-content: space-between;
  margin-bottom: 64px;
  column-gap: 50px;
  row-gap: 64px;
  @include media("medium") {
    grid-row-gap: 50px;
    grid-template-areas:
      "image"
      "content";
    row-gap: 50px;
  }
}

.grid-news:nth-of-type(2n) {
  grid-template-areas: "content image";
  @include media("medium") {
    grid-row-gap: 50px;
    grid-template-areas:
      "image"
      "content";
    row-gap: 50px;
  }
}

.grid-news:last-of-type {
  margin-bottom: 0;
}

.grid-footer {
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  column-gap: 40px;
  row-gap: 30px;
}

.grid-tracks {
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-between;
  column-gap: 50px;
  row-gap: 25px;
  @include media("mobile") {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}

.grid-track-item {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: max-content max-content 1fr;
  gap: 15px;
  align-items: center;
  justify-content: right;
}

.grid-discography {
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 50px;
  row-gap: 25px;
  @include media("mobile") {
    grid-template-columns: repeat(auto-fit, 137px);
  }
}

//TODO: Сократить количство сеток, а все стили запихнуть в атомарные

@mixin column-span {
  @for $n from 1 through 12 {
    .span-#{$n} {
      grid-column: span #{$n};
    }

    .column-start-#{$n} {
      grid-column-start: #{$n};
    }

    .column-end-#{$n} {
      grid-column-end: #{$n};
    }
  }
}

@include column-span;
