// All grids

.grid-12 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400, 1fr));
  justify-content: space-between;
  align-items: center;
  grid-gap: 50px;
  column-gap: 50px;
}

@mixin column-span {
  @for $n from 1 through 12 {
    .span-#{$n} {
      grid-column: span #{$n};
    }    
  }
}

@include column-span;